
*{
    padding: 0%;
    margin: 0%;
    border: 0ch;
    user-select: none;
    -moz-user-select: none;
}
.image{
    background-image: linear-gradient(to right,rgba(10, 22, 26, 0.6),rgba(10, 22, 26, 0.6)), url("image.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 212.5vh;
    padding: 0ch;
    border: 0ch;
   
}

#intro{
    width: 57%;
    
    text-align: center;
    
    margin-left: 0%;
}

.classintro2{
    font-family: cursive;
    font-size: 25px;
    color: rgb(230, 169, 18);
    /* font-weight: bold; */
}

.classintro1{
    font-family: cursive;
    font-size: 27px;
    color: rgb(196, 231, 71);
    font-weight: 510;
}

#ques{
    font-size: 18px;
    width: 550px;
    margin-left: 5%;
    color: rgba(223, 247, 7, 0.747);
}

#Q{
    float: left;
    color: rgb(218, 164, 164);
}

#QT{
    position: relative;
    text-align: left;
    margin-left: 50px;
}

p{
    text-align: left;
    position: relative;
    /* float: left; */
    margin-left: 10%;
}



#ans1{
    float: left;      
}

#ans2{
    float: left;   
}

#text{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 30%;
    font-family: Arial;
    color : cornsilk;
}

.answer{
    font-weight: bold;
    width: 400px;
    color: rgb(250, 172, 3);
    font-size: 20px;
    float: left;
    margin-left: 6%;
    margin-top: 0px;
}

#check{
    font-size: 30px;
    /* float: left; */
    position: absolute;
    top: 115%;
    left: 20%;
    
}    

input{
    border-top: 10px;
    outline: none;
    color: antiquewhite;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 1px solid yellowgreen;
}

button{
    outline: none;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: wheat;
    background-color: rgba(167, 15, 15, 0.993);
    width: 120px;
    height: 30px;
    left: 30px;
    /* position: relative; */
    float: left;
    margin-top: 10px;
    margin-left: 35px;
}

#playagainbutton{
    display: none;
    position: absolute;
    left: 33%;
    top: 120%;
}

#playbutton{
    position: absolute;
    left: 18%;
    top: 105%;
    
}

button:hover{
    background-color: rgba(150, 140, 3, 0.945);
    transition-delay: 0.05s;
}
button:active{
    transform: translate(0,-8%);
}
h1{
    width: 560px;
    color: antiquewhite;
    margin: 30px;
    font-size: 50px;
}

